.text {
  font-size: 24px;
  text-transform: uppercase;
}

.button {
  font-size: 30px;
  color: rgb(255, 80, 80);
  border: 2px solid rgb(44, 44, 44)
}

.button:disabled {
  color: pink;
  border-color: grey;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column
}

#img {
  height: 100%;
  width: 100%;
}